* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: indigo !important;
}

body,
html {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 5vw !important;
}

body {
  background-image: linear-gradient(145deg, #E8CAFB, #8A87C1);

}

.left {
  display: none;
}

.right {
  /* padding: 1em; */
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.footer {
  display: none;
}

#heading-1,
#heading-2,
#heading-3,
.desc,
.error-code,
.sub-heading, .error-sub-heading, .error-desc{
  font-size: 5vw !important;
}

.form-group {
  margin: 4vh 0 2vh 0;
  border: 1px solid rgba(49, 2, 107, 0.632);
  height: 2.5em;
  border-radius: 1.7em;
  background-image: linear-gradient(45deg, rgba(49, 2, 107, 0.5), rgba(49, 2, 107, 0.2));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.form-group input,
.form-group button{
  font-size: 4vw;
  padding: 0.7em;
  color: white !important;
}

.form-group button{
  padding: 0.3em 1em;
  background: indigo;
  border-radius: 0 1.2em 1.2em 1.2em;
}


.right .error-desc .home-btn {
  color: white !important;
  cursor: pointer;
  border-radius: 2em;
  font-size: 4vw;
  padding: 0.4em 1.1em;
  background: indigo;
}

.right .error-desc .home-btn:hover {
  background: indigo;
  color: white !important;
}

.right .error-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}